@yellow : #f0bf00; 
//轮播图
#headerwrap {
    margin-top: 0;
    padding-top: 0px;
    min-height: 300px;
    & .carousel{
        margin-bottom: 0px;
        width: 100%;
        height: 100%;
        min-height: 300px;
        margin-left: 0;
        margin-right: 0;
        padding: 0;
        & .carousel-indicators{
            width: 100%;
            bottom: 0;
            left:0;
            margin-left: 0;
            padding-left: 48%;
            top: 90%;
            right: 0;
        }
        & .carousel-inner{
            width: 100%;
            height: 100%;
            
            & img{
                min-height: 300px;
                width: 100%;
            }
        }
    }
    & .carousel-control.left,.right{
        height: 100%;
    }
    
}
//轮播图下面的黄色部分
#feature{
    height: 100%;
    background-size: 100% 100%;
    & article{
        margin-top: 60px;
        margin-bottom: 60px;
    }
}
//修改row的padding
.container, .container-fluid{
    padding-left: 0px;
}
//顶部导航栏
.collapse{
    display: block;
}
//按钮
.btn{
    height: auto;
}
.btn-large{
    height: 60px;
    line-height: 44px;
    padding: 0.5em;
}
//底部的联系我们
#theme-form input[type=submit]{
    margin-top: 10px;
}
.foot_form{
    margin-right: 0px;
    margin-left: 0px;
    padding: 0 15px;
}
//登录的弹出框
.modal{
    left: 50%;
    bottom: auto;
    width: 460px;
    .tab-content{
        padding: 30px 10px 10px;
    }
    & input{
       height: 40px;
       margin-bottom: 20px;
       text-align: center;
    }
    & input[type=submit]{
       height: 40px;
       margin-bottom: 20px;
       text-align: center;
       width: 100%;
       &:hover{
          background-color: #CCCCCC;
          color: #FFFFFF; 
       }
    }
    & .register_now {
        padding-right: 20px;
        cursor: pointer;
    }
    & .psd_msg {
        
        cursor: pointer;
    }
    
}
.modal-dialog{
    width: auto;
}
.modal-backdrop, .modal-backdrop.fade.in{
    opacity: 0.5;
}
.nav-tabs.nav-justified{
    width: 80%;
}
.nav-tabs{
    background-color:#FFFFFF;
    color: #FFFFFF;
}
.nav-tabs>li{
    border-left: none;
 
}
.nav-tabs.nav-justified>li{
    width: 50%;
    float: left;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    background-color:@yellow!important;
}
.panel{
    box-shadow: none;
}
.close{
    position: absolute;
    top: 10px;
    right: 20px;
}
.aritical_less{
    &>h2{
        width:100%;
        overflow:hidden;
        white-space:nowrap;
        text-overflow:ellipsis;
        -o-text-overflow:ellipsis;  
    }
}
//点击活动进入详情页面
#more_activity{
    & section.single-page{
        padding: 8em 0;
    }
    & .span8{
        padding-right: 30px;
    }

    
}
#Pagination{
    text-align: right;
    padding: 20px 10px 20px 0px;
    & a{
        margin-top: 0px;
        height: 30px;
        line-height: 30px;
        width: auto;
        padding: 0 10px;
        margin-left: 10px;
    }
    &>span>span{
        margin-left: 10px;
    }
    & input{
        width: 10%;
        height: 30px;
        margin-bottom: 0;
        margin-left: 10px
    }
  
}
.image{
    width: 100%;
    text-align: center;
    &>img{
        width: 100%;
    }
}
.activity_detail{
    margin-top: 50px;
    //  活动详情
    & .btn-1{
        height: 60px;
        line-height: 44px;
    }
    & .date-1 {
        float: left;
        border-right: 1px solid #7f7f7f;
        line-height: 18px;
        padding-right: 8px;
        font-size: 12px;
    }
    & .name-author {
        float: left;
        line-height: 18px;
        padding-left: 8px;
        font-size: 12px;
        
        &>a{
            color: #000000;
        }
    }
    & .comments {
        float: right;
        line-height: 18px;
        text-decoration: none;
        font-size: 12px;
        color: #000000;
    }
    & .clear {
        clear: both;
        line-height: 0;
        font-size: 0;
        overflow: hidden;
        height: 0;
        width: 100%;
    }
    & article .aritical_text{
        margin: 18px 0px 24px;
        & input{
            width: 20%;
        }
    }
    & .club_msg{
        text-align: center;
        .row{
            margin: 0;
            
        }
    } 
}
.personal{
    margin: 50px;
    & .row{
        margin: 0px;
    }
    & .panel{
        background: none;
    }
    & .logo_name{
        margin-left: 0px;
        background-color: #FFFFFF;
        margin-right: 15px;
        .nav-tabs{
            width: 100%;
        }
    }
    & .tab-content{
        background-color: #FFFFFF;
        min-height: 500px;
        
    }  
}

.image{  
    width: 100%;  
    text-align: center;  
    &>img{
        width: 100%;}
}
.editor{
    margin: 50px;

    & input[type=text]{
       height: 40px;
       margin-bottom: 0px;
    }
    & .btn-info{
        height: 60px;
        line-height: 44px;
        padding: 0.5em;
        border:none;
        margin-top: 2em;

    & input[type=text], input[type=submit], textarea{
        padding: 1.3em;

    }
}

