#headerwrap {
  margin-top: 0;
  padding-top: 0px;
  min-height: 300px;
}
#headerwrap .carousel {
  margin-bottom: 0px;
  width: 100%;
  height: 100%;
  min-height: 300px;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}
#headerwrap .carousel .carousel-indicators {
  width: 100%;
  bottom: 0;
  left: 0;
  margin-left: 0;
  padding-left: 48%;
  top: 90%;
  right: 0;
}
#headerwrap .carousel .carousel-inner {
  width: 100%;
  height: 100%;
}
#headerwrap .carousel .carousel-inner img {
  min-height: 300px;
  width: 100%;
}
#headerwrap .carousel-control.left,
#headerwrap .right {
  height: 100%;
}
#feature {
  height: 100%;
  background-size: 100% 100%;
}
#feature article {
  margin-top: 60px;
  margin-bottom: 60px;
}
.container,
.container-fluid {
  padding-left: 0px;
}
.collapse {
  display: block;
}
.btn {
  height: auto;
}
#theme-form input[type=submit] {
  margin-top: 10px;
}
.foot_form {
  margin-right: 0px;
  margin-left: 0px;
  padding: 0 15px;
}
.modal {
  left: 50%;
  bottom: auto;
}
.modal-dialog {
  width: auto;
}
.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.5;
}
.nav-tabs.nav-justified {
  width: 80%;
}
.nav-tabs {
  background-color: #FFFFFF;
  color: #FFFFFF;
}
.nav-tabs > li {
  border-left: none;
}
.nav-tabs.nav-justified > li {
  width: 30%;
  float: left;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  background-color: #f0bf00 !important;
}
.panel {
  box-shadow: none;
}
.close {
  position: absolute;
  top: 10px;
  right: 20px;
}
.aritical_less > h2 {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
#more_activity section.single-page {
  padding: 8em 0;
}
#more_activity .span8 {
  padding-right: 30px;
}
#Pagination {
  text-align: right;
  padding: 20px 10px 20px 0px;
}
#Pagination a {
  margin-top: 0px;
  height: 30px;
  line-height: 30px;
  width: auto;
  padding: 0 10px;
  margin-left: 10px;
}
#Pagination > span > span {
  margin-left: 10px;
}
#Pagination input {
  width: 10%;
  height: 30px;
  margin-bottom: 0;
  margin-left: 10px;
}
.image {
  width: 100%;
  text-align: center;
}
.image > img {
  width: 100%;
}
.activity_detail .date-1 {
  float: left;
  border-right: 1px solid #7f7f7f;
  line-height: 18px;
  padding-right: 8px;
  font-size: 12px;
}
.activity_detail .name-author {
  float: left;
  line-height: 18px;
  padding-left: 8px;
  font-size: 12px;
}
.activity_detail .name-author > a {
  color: #000000;
}
.activity_detail .comments {
  float: right;
  line-height: 18px;
  text-decoration: none;
  font-size: 12px;
  color: #000000;
}
.activity_detail .clear {
  clear: both;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  height: 0;
  width: 100%;
}
.activity_detail article .aritical_text {
  margin: 18px 0px 24px;
}
.activity_detail article .aritical_text input {
  width: 20%;
}
.activity_detail .club_msg {
  text-align: center;
}
.activity_detail .club_msg .row {
  margin: 0;
}
.personal {
  margin: 50px;
}
.personal .row {
  margin: 0px;
}
.personal .panel {
  background: none;
}
.personal .logo_name {
  margin-left: 0px;
  background-color: #FFFFFF;
  margin-right: 15px;
}
.personal .logo_name .nav-tabs {
  width: 100%;
}
.personal .tab-content {
  background-color: #FFFFFF;
  min-height: 500px;
}
.editor {
  margin: 50px;
}
/*# sourceMappingURL=index.css.map */
