<!DOCTYPE HTML>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<title>Legend - One Page Bootstrap Template</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<!-- Styles -->
		<link href="css/bootstrap.css" rel="stylesheet">

		<link href="css/style.css" rel="stylesheet">
		<link rel='stylesheet' id='prettyphoto-css' href="css/prettyPhoto.css" type='text/css' media='all'>
		<link href="css/fontello.css" type="text/css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="css/site.min.css" />

		<link rel="stylesheet" type="text/css" href="css/index.css" />
		<!--[if lt IE 7]>
            <link href="css/fontello-ie7.css" type="text/css" rel="stylesheet">  
        <![endif]-->
		<!-- Google Web fonts -->
		<!--<link href='http://fonts.googleapis.com/css?family=Quattrocento:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>-->
		<style>
			body {
				padding-top: 60px;
				/* 60px to make the container go all the way to the bottom of the topbar */
			}
		</style>
		<link href="css/bootstrap-responsive.css" rel="stylesheet">
		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
		<!-- Favicon -->
		<link rel="shortcut icon" href="img/favicon.ico">

		<!-- JQuery -->

		<script type="text/javascript" src="js/jquery.js"></script>
		<!-- Load ScrollTo -->
		<script type="text/javascript" src="js/jquery.scrollTo-1.4.2-min.js"></script>
		<!-- Load LocalScroll -->
		<script type="text/javascript" src="js/jquery.localscroll-1.2.7-min.js"></script>
		<!-- prettyPhoto Initialization -->
		<!--<script type="text/javascript" charset="utf-8">
          $(document).ready(function(){
            $("a[rel^='prettyPhoto']").prettyPhoto();
          });
        </script>-->
        
	</head>

	<body>
		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

			<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
				<div class="panel">
					<ul id="myTab1" class="nav nav-tabs nav-justified">
						<li class="active">
							<a href="#home1" data-toggle="tab">login</a>
						</li>
						<li class="">
							<a href="#profile1" data-toggle="tab">register</a>
						</li>

					</ul>
					<div id="myTabContent" class="tab-content">
						<div class="tab-pane fade" id="home1">
							<p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.</p>
						</div>
						<div class="tab-pane fade active in" id="profile1">
							<p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee.</p>
						</div>

					</div>
				</div>
			</div>
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

		</div>
		<!--******************** NAVBAR ********************-->
		<div class="navbar-wrapper">
			<div class="navbar navbar-inverse navbar-fixed-top">
				<div class="navbar-inner">
					<div class="container">

						<!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
						<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
						<h1 class="brand"><a href="#top">Legend!</a></h1>
						<!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
						<nav class="pull-right nav-collapse collapse">
							<ul id="menu-main" class="nav">
								<li>
									<a title="portfolio" href="#/contentlist">Portfolio</a>
								</li>
								<li>
									<a title="services" href="#services">Services</a>
								</li>
								<li>
									<a title="news" href="#news">News</a>
								</li>
								<li>
									<a title="team" href="#team">Team</a>
								</li>
								<li>
									<a title="contact" href="#contact">Contact</a>
								</li>
								<li>
									<a title="login" href="#" data-toggle="modal" data-target="#myModal">login</a>
								</li>
								<li>
									<a title="contact" href="#"><span class="glyphicon glyphicon-user"></span></a>
									
								</li>
								
							</ul>
						</nav>
					</div>
					<!-- /.container -->
				</div>
				<!-- /.navbar-inner -->
			</div>
			<!-- /.navbar -->
		</div>
		<!-- /.navbar-wrapper -->
		<div id="top"></div>
		<div  id="container" style="background-color: #0044CC;height: 100px;">
		</div>

		<section id="contact" class="single-page scrollblock">
			<div class="container">
				<div class="align"><i class="icon-mail-2"></i></div>
				<h1>Contact us now!</h1>
				<div class="row foot_form">
					<div class="span12">
						<div class="cform" id="theme-form">
							<form action="#" method="post" class="cform-form">
								<div class="row">
									<div class="span6"> <span class="your-name">
                    <input type="text" name="your-name" placeholder="Your Name" class="cform-text" size="40" title="your name">
                    </span> </div>
									<div class="span6"> <span class="your-email">
                    <input type="text" name="your-email" placeholder="Your Email" class="cform-text" size="40" title="your email">
                    </span> </div>
								</div>
								<div class="row">
									<div class="span6"> <span class="company">
                    <input type="text" name="company" placeholder="Your Company" class="cform-text" size="40" title="company">
                    </span> </div>
									<div class="span6"> <span class="website">
                    <input type="text" name="website" placeholder="Your Website" class="cform-text" size="40" title="website">
                    </span> </div>
								</div>
								<div class="row">
									<div class="span12"> <span class="message">
                    <textarea name="message" class="cform-textarea" cols="40" rows="10" title="drop us a line."></textarea>
                    </span> </div>
								</div>
								<div>
									<input type="submit" value="Send message" class="cform-submit pull-left">
								</div>
								<div class="cform-response-output"></div>
							</form>
						</div>
					</div>
					<!-- ./span12 -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container -->
		</section>
		<hr>
		<div class="footer-wrapper">
			<div class="container">
				<footer>
					<small>&copy; 2013 Inbetwin Network. All rights reserved.</small>
				</footer>
			</div>
			<!-- ./container -->
		</div>
		<!-- Loading the javaScript at the end of the page -->

		
	</body>
	<link rel="import" href="./common/nav.html">
	<link rel="import" href="./common/contentlist.html">
		<script type="text/javascript" src="js/bootstrap.js"></script>
		<script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
		<script src="js/ejs.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/router.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/router.js" type="text/javascript" charset="utf-8"></script>
</html>