<!-- ******************** HeaderWrap ********************-->
		<div id="headerwrap">

			<!--轮播图-->
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
					<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
					<li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
				</ol>
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<img src="img/portfolio-01.jpg">
					</div>
					<div class="item ">
						<img src="img/portfolio-02.jpg">
					</div>
					<div class="item">
						<img src="img/portfolio-03.jpg">
					</div>
				</div>
				<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left"></span>

			
				</a>
				<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right"></span>
				</a>

			</div>
		</div>
		<!--******************** Feature ********************-->
		<div class="scrollblock">
			<section id="feature">
				<div class="container">
					<div class="row">
						<div class="span12">
							<article>
								<p>Welcome to Community management system!</p>
								<p>We will show you a wondeful university life here.</p>
								<p>Please enjoy yourselves.</p>
							</article>
						</div>
						<!-- ./span12 -->
					</div>
					<!-- .row -->
				</div>
				<!-- ./container -->
			</section>
		</div>
		<hr>
		<!--******************** Portfolio Section ********************-->
		<section id="portfolio" class="single-page scrollblock">
			<div class="container">
				<div class="align"><i class="icon-desktop-circled"></i></div>
				<h1 id="folio-headline">最新资讯</h1>
				<div class="row">
					<div class="span4">
						<div class="mask2">
							<a href="img/portfolio-01.jpg" rel="prettyPhoto"><img src="img/shehuishijian.jpg" alt=""></a>
						</div>
						<div class="inside">
							<hgroup>
								<h2>社会实践</h2>
							</hgroup>
							<div class="entry-content">
								<p>四年大学，最重要的是培养社会实践能力 …</p>
								<a class="more-link" href="#">了解详情</a>
							</div>
						</div>
						<!-- /.inside -->
					</div>
					<!-- /.span4 -->
					<div class="span4">
						<div class="mask2">
							<a href="img/portfolio-02.jpg" rel="prettyPhoto"><img src="img/xiaoyuanpaishu.jpg" alt=""></a>
						</div>
						<div class="inside">
							<hgroup>
								<h2>校园派书公益活动</h2>
							</hgroup>
							<div class="entry-content">
								<p>每一年，学校都会展开一个向老生回收旧书，给新生派书旧书的循环用书环保活动···</p>
								<a class="more-link" href="#">了解详情</a>
							</div>
						</div>
						<!-- /.inside -->
					</div>
					<!-- /.span4 -->
					<div class="span4">
						<div class="mask2">
							<a href="img/portfolio-03.jpg" rel="prettyPhoto"><img src="../../img/yingxinwanhui.jpg" alt=""></a>
						</div>
						<div class="inside">
							<hgroup>
								<h2>迎新晚会</h2>
							</hgroup>
							<div class="entry-content">
								<p>新年来临之际，各大学院都在紧张筹备中···</p>
								<a class="more-link" href="#">了解详情</a>
							</div>
						</div>
						<!-- /.inside -->
					</div>
					<!-- /.span4 -->
				</div>
				<!-- /.row -->

				<div class="row">
					<div class="span4">
						<div class="mask2">
							<a href="img/portfolio-01.jpg" rel="prettyPhoto"><img src="../../img/shetuanzhaoxin.jpg" alt=""></a>
						</div>
						<div class="inside">
							<hgroup>
								<h2>社团招新</h2>
							</hgroup>
							<div class="entry-content">
								<p>新学年，新风采，各个社团将注入新鲜血液 …</p>
								<a class="more-link" href="#">了解详情</a>
							</div>
						</div>
						<!-- /.inside -->
					</div>
					<!-- /.span4 -->
					<div class="span4">
						<div class="mask2">
							<a href="img/portfolio-02.jpg" rel="prettyPhoto"><img src="../../img/qy1.jpg" alt=""></a>
						</div>
						<div class="inside">
							<hgroup>
								<h2>企业参观</h2>
							</hgroup>
							<div class="entry-content">
								<p>为了有助于大学生走出校门，早日了解社会，学校会定期组织企业参观活动···</p>
								<a class="more-link" href="#">了解详情</a>
							</div>
						</div>
						<!-- /.inside -->
					</div>
					<!-- /.span4 -->
					<div class="span4">
						<div class="mask2">
							<a href="img/portfolio-03.jpg" rel="prettyPhoto"><img src="img/nn1.jpg" alt=""></a>
						</div>
						<div class="inside">
							<hgroup>
								<h2>男女生节</h2>
							</hgroup>
							<div class="entry-content">
								<p>“男女搭配，干活不累”，男女生节活动即将举办···</p>
								<a class="more-link" href="#">了解详情</a>
							</div>
						</div>
						<!-- /.inside -->
					</div>
					<!-- /.span4 -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container -->
		</section>
		<hr>
		<!--******************** Services Section ********************-->
		<section id="services" class="single-page scrollblock">
			<div class="container">
				<div class="align"><i class="icon-cog-circled"></i></div>
				<h1>社团风采</h1>
				<!-- Four columns -->
				<div class="row">
					<div class="span3">
						<div class="align"> <i class="icon-desktop sev_icon"></i> </div>
						<h2>信息部</h2>
						<p>信息部是一个集中各路技术大神的高大上部门···</p>
					</div>
					<!-- /.span3 -->
					<div class="span3">
						<div class="align"> <i class="icon-vector sev_icon"></i> </div>
						<h2>宣传部</h2>
						<p>PS的天堂，只要你有想法，脑洞大，掀船非你莫属···</p>
					</div>
					<!-- /.span3 -->
					<div class="span3">
						<div class="align"> <i class="icon-basket sev_icon"></i> </div>
						<h2>素拓部</h2>
						<p>素质拓展的各种趣味活动，等着你来策划！···</p>
					</div>
					<!-- /.span3 -->
					<div class="span3">
						<div class="align"> <i class="icon-mobile-1 sev_icon"></i> </div>
						<h2>外联部</h2>
						<p>明明可以靠颜值却偏偏要靠才华的一个部门，商务洽谈拉赞助妥妥的···</p>
					</div>
					<!-- /.span3 -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container -->
		</section>
		<hr>
		<!--******************** Testimonials Section ********************-->
		<section id="testimonials" class="single-page hidden-phone">
			<div class="container">
				<div class="row">
					<div class="blockquote-wrapper">
						<blockquote class="mega">
							<div class="span4">
								<p class="cite">Douzi &amp; Chris:</p>
							</div>
							<div class="span8">
								<p class="alignright">"We highly appreciate the enthusiasm and creative talent of the people!"</p>
							</div>
						</blockquote>
					</div>
					<!-- /.blockquote-wrapper -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container -->
		</section>
		<hr>
		<!--******************** News Section ********************-->
		<section id="news" class="single-page scrollblock">
			<div class="container">
				<div class="align"><i class="icon-pencil-circled"></i></div>
				<h1>更多活动</h1>
				<!-- Three columns -->
				<div class="row">
					<article class="span4 post"> <img class="img-news" src="img/blog_img-01.jpg" alt="">
						<div class="inside aritical_less">
							<p class="post-date"><i class="icon-calendar"></i>2016年3月17日</p>
							<h2>社会实践</h2>
							<div class="entry-content">

								<p>四年大学，最重要的是培养社会实践能力 …</p>
								<a href="#" class="more-link">了解更多</a>

							</div>
						</div>
						<!-- /.inside -->
					</article>
					<!-- /.span4 -->
					<article class="span4 post"> <img class="img-news" src="img/blog_img-02.jpg" alt="">
						<div class="inside aritical_less">
							<p class="post-date">2016年12月 28日</p>
							<h2>迎新晚会</h2>
							<div class="entry-content">

								<p>新年来临之际，各大学院都在紧张筹备中···</p>
								<a href="#" class="more-link">了解更多</a>

							</div>
						</div>
						<!-- /.inside -->
					</article>
					<!-- /.span4 -->
					<article class="span4 post"> <img class="img-news" src="img/blog_img-03.jpg" alt="">
						<div class="inside aritical_less">
							<p class="post-date">2017年9月11日</p>
							<h2>社团招新</h2>
							<div class="entry-content">

								<p>新学年，新风采，各个社团将注入新鲜血液 …</p>
								<a href="#" class="more-link">了解更多</a>

							</div>
						</div>
						<!-- /.inside -->
					</article>
					<!-- /.span4 -->
				</div>
				<!-- /.row -->

				<a href="#/more_activity" class="btn btn-large">进入更多活动</a>

			</div>
			<!-- /.container -->
		</section>
		<hr>