<div class="container activity_detail">
		        <div class="row">
		        <article class="span8">
		         
		          <h2>A girl running on a road</h2>
		        <div class="image">
		        	<img class="img-news" src="img/blog_img-01.jpg" alt="">	
		        </div>
		        
				<div class="inside aritical_text">
			
					<time datetime="2012-11-09" class="date-1"><span class="glyphicon glyphicon-calendar"></span> 9.11.2012</time>
		            <div class="name-author"><span class="glyphicon glyphicon-calendar"></span> <a href="#">Admin</a></div>
		            <a href="#" class="comments"><span class="glyphicon glyphicon-calendar"></span> 11 comments</a> 
					<div class="clear"></div>
					<div class="entry-content">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. …</p>
						<input type="submit" value="参加活动" class="btn btn-1">
					</div>
				</div>
		        </article>
		<article class="span4">
		<div class="club_msg">
       
        <h1>Meet the team</h1>
        <!-- Five columns -->
        <div class="row">
          <div class="logo_name">
            <div class="teamalign"> <img class="team-thumb img-circle" src="img/portrait-1.jpg" alt=""> </div>
            <h3>Andrew</h3>
            <div class="job-position">web designer</div>
          </div>
        </div>
        <!-- /.row -->
        <div class="row">
          <div >
            <hr class="featurette-divider">
            <div class="featurette">
              <h2 class="featurette-heading"><span class="muted"> a little about us</span></h2>
              <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores.</p>
              <p>At solmen va esser necessi far uniform grammatica, pronunciation e plu sommun paroles. Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues.</p>
              <p>A un Angleso it va semblar un simplificat Angles, quam un skeptic Cambridge amico dit me que Occidental es.</p>
            </div>
            <!-- /.featurette -->
            <hr class="featurette-divider">
          </div>
          <!-- .span10 -->
        </div>
        <!-- /.row -->
      </div>
		        </article>
		      </div>
		     </div>
