<div class="container activity_detail">
		        <div class="row">
		        <article class="span8">
		         
		          <h2>社会实践</h2>
		        <div class="image">
		        	<img class="img-news" src="img/blog_img-01.jpg" alt="">	
		        </div>
		        
				<div class="inside aritical_text">
			
					<time datetime="2012-11-09" class="date-1"><span class="glyphicon glyphicon-calendar"></span>22016年1月20日</time>
		            <div class="name-author"><span class="glyphicon glyphicon-calendar"></span> <a href="#">发布人</a></div>
		            <a href="#" class="comments"><span class="glyphicon glyphicon-calendar"></span>11条评论</a> 
					<div class="clear"></div>
					<div class="entry-content">
						<p>社会实践能力十分重要 …</p>
						<input type="submit" value="发布评论" class="btn btn-1">
					</div>
				</div>
		        </article>
		<article class="span4">
		<div class="club_msg">
       
        <h1>了解社团</h1>
        <!-- Five columns -->
        <div class="row">
          <div class="logo_name">
            <div class="teamalign"> <img class="team-thumb img-circle" src="img/portrait-1.jpg" alt=""> </div>
            <h3>周星星</h3>
            <div class="job-position">部长</div>
          </div>
        </div>
        <!-- /.row -->
        <div class="row">
          <div >
            <hr class="featurette-divider">
            <div class="featurette">
              <h2 class="featurette-heading"><span class="muted">社团简介</span></h2>
               <p>实践部的工作宗旨是促进广大团员青年投身社会实践，培养青年团员奉献精神和开创精神，
              	使其在社会实践中不断充实完善自我，提高社会责任感和科学实践能力。
              	在学期工作开始前对广大同学进行调查了解，根据调查的结果，
              	展开一些可行的、有意义的活动，并制定该学期的工作计划交给分管领导老师和主席团审批。</p>
               <p>实践部的工作宗旨是促进广大团员青年投身社会实践，培养青年团员奉献精神和开创精神，
              	使其在社会实践中不断充实完善自我，提高社会责任感和科学实践能力。
              	实践部致力于策划、组织暑期社会实践，汇总各社会实践队伍申报（汇报）材料、
              	社会实践活动评定工作的开展以及实践成果的展示，
              	旨在搭起广大青年团员接触社会、服务社会的桥梁。</p>
            </div>
            <!-- /.featurette -->
            <hr class="featurette-divider">
          </div>
          <!-- .span10 -->
        </div>
        <!-- /.row -->
      </div>
		        </article>
		      </div>
		     </div>
